:root {
    --bg-color: rgb(25, 20, 25);
    --text-color: rgb(200, 200, 200);
    --records-color: rgb(13, 13, 13);
    --record-stroke-color: rgb(54, 50, 42);

    --h1-size: 1.4em; /* Used only in the header */
    --h2-size: 1.3em;
    --h3-size: 1.2em;
    --h4-size: 0.7em;

    --p-s-size: 0.9em;
    --p-s-lh: 1.3em;

    --p-label-l-size: 1.3em;
    --p-label-l-margin-top: 1.3em;

    --p-label-s-size: 0.9em;
    --p-label-s-margin-top: 0.3em;

    --header-height: 6vh;
    --main-margin: 20px;
}  


* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--bg-color);
    font-family: 'Red Hat Display', sans-serif;
    color: var(--text-color);
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    /* overflow-y: hidden; */
}

svg {
    width: 100%;
    height: 100%;
}

h1, h2, h3, h4 {
    font-weight: normal !important;
}

h1 {
    font-size: var(--h1-size);
    line-height: 1.35em;
    font-weight: 1000 !important;
}

h2 {
    font-size: var(--h2-size);
    line-height: 1.35em;
    margin-bottom: 50px;
    margin-top: 20px;
}

h3 {
    font-size: var(--h3-size);
    margin-bottom: 5px;
}

h4 {
    font-size: var(--h4-size);
}


p {
    font-weight: 300 !important;
}

.p-small {
    font-size: var(--p-s-size);
    line-height: var(--p-s-lh);
    font-weight: 500 !important;
    color: var(--text-color);
}


.label-large{
    font-weight: 1000 !important;
    font-size: var(--p-label-l-size);
    margin-top: var(--p-label-l-margin-top);

}

.label-small{
    font-weight: 1000 !important;
    font-size: var(--p-label-s-size);
    margin-top: var(--p-label-s-margin-top);
    margin-bottom: 10px;
    opacity: 90%;

}

a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 300 !important;
}

svg {
    color: var(--text-color);
}

#description {
    margin-bottom: 10px;
}

.visualization {    
    padding-right: calc(var(--main-margin) * 2);
    position: fixed;
    bottom: 0;
    right: 0;
    top: 0;
    width: 1000px;
    height: 90%;
    display: flex;
}


.sidebar {
    width: 340px;
    padding-top: calc(var(--main-margin)*4);
    padding-left: calc(var(--main-margin)*5);
    display: flex;
    height: 80vh;
    flex-direction: column;
}

.about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
}


.legend {
    z-index: 1;
    padding-bottom: calc(var(--main-margin) * 3);
    display: flex;
    align-items: center;
    width: 150%;
    flex-direction: column;
    margin-top: 40px;
    margin-left: 25%;
}

.label-legend {
    color: var(--text-color);
    font-family: 'Red Hat Display', sans-serif;
    font-size: 0.75em;
    font-weight: 300 !important;
    letter-spacing: 0.5px;

}

#small-multiples-container {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);

}

.sm-labels-container {
    height: 60px;
    margin-top: -30px;
    text-align: right;
    margin-right: 20px;
}

::-webkit-scrollbar {
    width: 5px;
  }
::-webkit-scrollbar-track {
    background: var(--bg-color); 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #555; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #888; 
  }

#web {       display: block; }
#mobile {    display: none;  }

svg {
    /*animation: rotation 10s infinite linear;*/
}


@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

@media only screen and (max-width: 1000px) {
    #mobile {
        display: flex;
        flex-direction: column;
        height: 100vh;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 50px;
    }

    #web {
        display: none;
    }

    .p-small {
        font-size: 20px;
    }
}


